@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 306 56% 33%;
    --primary-foreground: 306 56% 98%;
    --secondary: 306 56% 96%;
    --secondary-foreground: 306 56% 33%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 306 56% 92%;
    --accent-foreground: 306 56% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 306 56% 33%;
    --radius: 0.75rem;

    /* ... */
    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    /* --vis-primary-color: 126 56% 73%;
    --vis-secondary-color: 56 100% 85%;
    --vis-muted-color: 126 56% 73%; */
    --vis-primary-color: 142 76% 46%;
    /* Green for completed */
    --vis-secondary-color: 45 93% 67%;
    /* Yellow for pending */
    --vis-muted-color: 0 84% 70%;
    --vis-text-color: var(--muted-foreground)
  }

  .dark {
    --background: 222 47% 8%;
    --foreground: 210 20% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 306 56% 40%;
    --primary-foreground: 306 56% 98%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 20% 98%;
    --muted: 222 47% 15%;
    --muted-foreground: 210 20% 98%;
    --accent: 222 47% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 222 47% 15%;
    --input: 222 47% 15%;
    --ring: 306 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}